<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-5">
          <h5 class="card-title text-center mb-4" *ngIf="!register">Đăng nhập</h5>
          <h5 class="card-title text-center mb-4" *ngIf="register">Đăng ký</h5>
          <form [formGroup]="formGroup">
            <div class="mb-3">
              <label for="email" class="form-label">Số điện thoại</label>
              <input type="text" class="form-control" id="email" placeholder="Nhập số điện thoại" formControlName="phoneNumber">
              <div *ngIf="formGroup.get('phoneNumber').invalid && (formGroup.get('phoneNumber').dirty || formGroup.get('phoneNumber').touched)">
                <div *ngIf="formGroup.get('phoneNumber').hasError('required')" class="error-message">Số điện thoại bắt buộc</div>
                <div *ngIf="formGroup.get('phoneNumber').errors?.pattern" class="error-message">Số điện thoại không đúng định dạng</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" *ngIf="resetPassword">Mật khẩu mới</label>
              <label for="password" class="form-label" *ngIf="!resetPassword">Mật khẩu</label>
              <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" formControlName="secret">
              <div *ngIf="formGroup.get('secret').invalid && (formGroup.get('secret').dirty || formGroup.get('secret').touched)">
                <div *ngIf="formGroup.get('secret').hasError('required')" class="error-message">Mật khẩu bắt buộc</div>
                <div *ngIf="formGroup.get('secret').hasError('minlength')" class="error-message">Mật khẩu phải có ít nhất 6 kí tự</div>
              </div>
            </div>
            <label for="password" class="form-label" *ngIf="register || resetPassword">Mã OTP</label>
            <div class="input-group mb-3" *ngIf="register || resetPassword">
              <input type="text" class="form-control" placeholder="OTP" aria-label="OTP" aria-describedby="basic-addon2" formControlName="otp">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="margin-left: 5px" type="button" (click)="getOtp()">Lấy OTP</button>
              </div>
            </div>
            <button type="submit" class="btn btn-primary d-block w-100" [disabled]="formGroup.invalid" *ngIf="!register && !resetPassword" (click)="login()">Đăng nhập</button>
            <button type="submit" class="btn btn-primary d-block w-100" [disabled]="formGroup.invalid" *ngIf="register" (click)="registerAcount()">Đăng ký</button>
            <button type="submit" class="btn btn-primary d-block w-100" [disabled]="formGroup.invalid" *ngIf="resetPassword" (click)="forgotPassword()">Đổi mật khẩu</button>
          </form>
          <hr>
          <p class="text-center mt-3">Quên mật khẩu <a (click)="changeForgotPassword()" style="color: #4ca2cd">Quên mật khẩu</a></p>
          <p class="text-center mt-3">Bạn chưa có tài khoản? <a (click)="changeRegister()" style="color: #4ca2cd">Đăng ký</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
