<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0">Thông tin tài xế</h3>
  </div>
  <div class="card-body pt-0">
    <table class="table">
      <tbody>
        <tr>
          <td>
            Họ và tên
          </td>
          <td>
            {{driver.name}}
          </td>
        </tr>
        <tr>
          <td>
            Số điện thoại
          </td>
          <td>
            {{driver.phoneNumber}}
          </td>
        </tr>
        <tr>
          <td>
            CMND/CCCD
          </td>
          <td>
            {{driver.nationalId}}
          </td>
        </tr>
        <tr>
          <td>
            Tình trạng phê duyệt
          </td>
          <td>
            {{GetDriverStatusText(driver.status)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="height: 26px"></div>

<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0">Lịch sử cung cấp dịch vụ</h3>
  </div>
  <div class="card-body pt-0">
    <div class="col-md-12">


      <div class="form-group">
        <div class="card-body table-responsive p-0" style="min-height: 100px;">
          <table class="table table-head-fixed">
            <thead>

              <tr>
                <th colspan="4">Thông tin chuyến đi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookings">
                <td>
                  <p>
                    <b>Điểm đón: </b> {{ParseAddress(booking.fromLocation)}}
                    <br />
                    <b>Điểm đến: </b> {{ParseAddress(booking.toLocation)}}
                    <br />
                    <b>Sđt khách: </b> {{booking.consumerId}}
                    <br />
                    <b>Sđt tài xế: </b> {{booking.providerId}}
                  </p>

                </td>

                <td>{{booking.cost}}</td>

                <td>
                  <span class="badge bg-success">{{GetStatusText(booking.status)}}</span>
                </td>
                <td>
                  <p class="p_link" (click)="onOpenPopup(booking)">Chi tiết</p>
                </td>
              </tr>
              <tr *ngIf="bookings.length == 0">
                <td colspan="4">Không có thông tin lịch sử chuyến đi</td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="select-arrow"></span>
      </div>

    </div>
  </div>
</div>




<!-- Modal Vehicle -->
<div class="modal modal-xl" [ngStyle]="{'display':displayPopupValue}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title" id="exampleModalLabel">{{displayPopupTile}}</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClosePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
          <!-- Basic Plan -->
          <div class="row align-items-center">
            <div class="col-12 col-md-4">
              <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                {{booking.name}}
              </h4>

              <div class="text-secondary-d1 text-120">
                <span class="text-180">{{booking.cost}}</span><span class="ml-n15 align-text-bottom">đ</span>
              </div>
            </div>

            <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
              <li>
                <i class="fas fa-map-marker-alt text-success-m2 text-110 mr-2 mt-1"></i>
                <span>
                  <span class="text-110">{{booking.toLocation.street + ', ' + booking.toLocation.city + ', ' + booking.toLocation.district+ ', ' + booking.toLocation.ward}}</span>
                </span>
              </li>

              <li class="mt-25">
                <i class="fas fa-map-marker-alt text-success-m2 text-110 mr-2 mt-1"></i>
                <span class="text-110">
                  {{ booking.toLocation.street + ', ' + booking.toLocation.city + ', ' + booking.toLocation.district+ ', ' + booking.toLocation.ward}}
                </span>
              </li>
            </ul>

            <div class="col-12 col-md-4 text-center">
              <button class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" *ngIf="booking.status < 4" (click)="providerAction(booking)">{{btnActionText}}</button>
              <!--<button class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" *ngIf="booking.status == 3" (click)="providerAreServing(booking)">Phục vụ</button>
              <button class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" *ngIf="booking.status == 4" (click)="finished(booking)">Hoàn thành</button>-->
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClosePopup()">Đóng</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
