<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0">Thông tin tài khoản</h3>
  </div>
  <div class="card-body pt-0">
    <table class="table">
      <tbody>
        <tr>
          <td>
            Họ và tên
          </td>
          <td>
            {{user.name}}
          </td>
        </tr>
        <tr>
          <td>
            Số điện thoại
          </td>
          <td>
            {{user.phoneNumber}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="height: 26px"></div>
<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0">Lịch sử đặt dịch vụ</h3>
  </div>
  <div class="card-body pt-0">
    <div class="col-md-12">

      <div class="form-group">
        <div class="card-body table-responsive p-0" style="min-height: 100px;">
          <table class="table table-head-fixed">
            <thead>

              <tr>
                <th colspan="3">Thông tin đặt xe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookings">
                <td>
                  <p>
                    <b>Điểm đón: </b> {{ParseAddress(booking.fromLocation)}}
                    <br />
                    <b>Điểm đến: </b> {{ParseAddress(booking.toLocation)}}
                    <br />
                    <b>Sđt khách: </b> {{booking.consumerId}}
                    <br />
                    <b>Sđt tài xế: </b> {{booking.providerId}}
                  </p>

                </td>

                <td>{{booking.cost | currency:'VND'}}</td>

                <td>
                  <span class="badge bg-success">{{GetStatusText(booking.status)}}</span>
                  
                </td>
                <!--<td>
                  <p class="p_link" (click)="onOpenPopup(booking)">Chi tiết</p>
                </td>-->
              </tr>

              <tr *ngIf="bookings.length == 0">
                <td colspan="4">Không có thông tin lịch sử chuyến đi</td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="select-arrow"></span>
      </div>
      
      <div class="form-group">
        <div class="card-body table-responsive p-0" style="min-height: 100px;">
          <table class="table table-head-fixed">
            <thead>

              <tr>
                <th colspan="3">Thông tin đặt chăm sóc</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of homecares">
                <td>
                  <p>
                    <b>Địa điểm: </b> {{ParseAddress(booking.location)}}
                  </p>

                </td>

                <td>{{booking.cost | currency:'VND'}}</td>

                <td>
                  <span class="badge bg-success">{{GetStatusText(booking.status)}}</span>
                  
                </td>
                <!--<td>
                  <p class="p_link" (click)="onOpenPopup(booking)">Chi tiết</p>
                </td>-->
              </tr>

              <tr *ngIf="homecares.length == 0">
                <td colspan="4">Không có thông tin lịch sử đặt chăm sóc</td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="select-arrow"></span>
      </div>


    </div>
  </div>
</div>

