
<div class="rt-container">
  <div class="col-rt-12">
    <div class="Scriptcontent">
      <div class="student-profile py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card shadow-sm">
                <div class="card-header bg-transparent text-center">
                  <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
                  <h3>{{user.name}}</h3>
                </div>
                <div class="card-body text-center text-end">
                  <p *ngIf="!driver" class="mb-0 text-center text-end">
                    <i class="fa-solid fa-user"></i>
                    <a class="text-decoration-none text-dark" [routerLink]="['/profile/become-driver']">&nbsp; Trở thành tài xế</a>
                  </p>
                  <p class="mb-0 text-center text-end">
                    <i class="fa-solid fa-user"></i>
                    <a class="text-decoration-none text-dark" [routerLink]="['/profile/me']">&nbsp; Quản lý cá nhân</a>
                  </p>
                  <p *ngIf="driver" class="mb-0 text-center text-end">
                    <i class="fa-solid fa-user"></i>
                    <a class="text-decoration-none text-dark" [routerLink]="['/profile/driver']">&nbsp; Quản lý tài xế</a>
                  </p>
                  <!--<p *ngIf="!driver" class="mb-0 text-center text-end"><i class="fa-solid fa-user"></i>&nbsp; Trở thành tài xế</p>
                  <p *ngIf="driver" class="mb-0 text-center text-end"><i class="fa-solid fa-user"></i>&nbsp; Quản lý tài xế</p>-->
                  <p class="mb-0 text-center text-end">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <label class="text-decoration-none text-dark" (click)="logout()"> &nbsp;Đăng xuất</label>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
