


<div class="booking-form">
  <form>
    <br />

    <div class="row">
      <div class="col-sm-12">
        <b>Địa chỉ gia đình (*)</b>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Tỉnh/ thành phố</span>
          <select class="form-control" (change)="onChange()" [(ngModel)]="selectedCity" name="selectedCity">
            <option *ngFor="let item of diaGioiHanhChinhVN" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Quận/ huyện</span>
          <select class="form-control" [(ngModel)]="selectedDistrict" name="selectedDistrict">
            <option *ngFor="let item of selectedCity?.Districts" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Xã phường</span>
          <select class="form-control" [(ngModel)]="selectedWard" name="selectedWard">
            <option *ngFor="let item of selectedDistrict?.Wards" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <span class="form-label">Số nhà, tên đường</span>
          <input class="form-control" name="selectedStreet" type="text" [(ngModel)]="selectedStreet">
        </div>
      </div>

    </div>

    <br />


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="form-label">Ngày đặt (*)</b>
          <input class="form-control" min="getYesterdayDate()" name="currentBookingStartTime" type="date" required [(ngModel)]="currentBooking.startTime">
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="card-body table-responsive p-0" style="min-height: 100px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th colspan="2">Trang thiết bị (thuê theo ngày)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of equipmentsDaily; index as i">
                  <td class="row">

                    <div class="col-2">
                      <img src="{{GetFirstImage(item.equipmentImages)}}" alt="">
                    </div>
                    <div class="col-10 row">
                      <div class="col-12 row">
                        <b class="col-9">{{item.name}}</b>
                        <p class="col-3 p_link" (click)="onOpenPopup('equipment', item)">Chi tiết</p>
                      </div>

                      <input class="col-12 form-control" type="text" name="selectedEquipmentsDailyNote{{i}}" [(ngModel)]="selectedEquipmentsDaily[i].note" placeholder="Ghi chú">
                      <div class="col-12 row ">
                        <div class="col-9">
                          <p>{{item.cost}} VNĐ/{{item.unit}}</p>
                        </div>


                        <div class="col-1">
                          <button class="nopadding form-control" (click)="selectedEquipmentsDaily[i].count == 0 ? 0 : selectedEquipmentsDaily[i].count = selectedEquipmentsDaily[i].count - 1">
                            -
                          </button>
                        </div>
                        <div class="col-1">
                          <b>{{selectedEquipmentsDaily[i].count}}</b>

                        </div>
                        <div class="col-1">
                          <button class="nopadding form-control" (click)="selectedEquipmentsDaily[i].count= selectedEquipmentsDaily[i].count + 1">
                            +
                          </button>
                        </div>

                      </div>

                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <span class="select-arrow"></span>
        </div>

      </div>
      <br />
      <div class="col-sm-6">
        <div class="form-group">
          <div class="card-body table-responsive p-0" style="min-height: 100px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th colspan="3">Trang thiết bị/ thuốc (mua)</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of equipments; index as i">

                  <td class="row">
                    <div class="col-2">
                      <img src="{{GetFirstImage(item.equipmentImages)}}" alt="">
                    </div>
                    <div class="col-10 row">
                      <div class="col-12 row">
                        <b class="col-9">{{item.name}}</b>
                        <p class="col-3 p_link" (click)="onOpenPopup('equipment', item)">Chi tiết</p>
                      </div>

                      <input class="col-12 form-control" type="text" name="selectedEquipmentsNote{{i}}" [(ngModel)]="selectedEquipments[i].note" placeholder="Ghi chú">
                      <div class="col-12 row ">
                        <div class="col-9">
                          <p>{{item.cost}} VNĐ/{{item.unit}}</p>
                        </div>


                        <div class="col-1">
                          <button class="nopadding form-control" (click)="selectedEquipments[i].count == 0 ? 0 : selectedEquipments[i].count = selectedEquipments[i].count - 1">-</button>
                        </div>
                        <div class="col-1">
                          <!--<input class=" form-control" name="selectedEquipmentsCount{{i}}" type="text" disabled [ngModel]="selectedEquipments[i].count">-->
                          <b>{{selectedEquipments[i].count}}</b>
                        </div>
                        <div class="col-1">
                          <button class="nopadding form-control" (click)="selectedEquipments[i].count= selectedEquipments[i].count + 1">+</button>
                        </div>

                      </div>

                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <span class="select-arrow"></span>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="card-body table-responsive p-0" style="min-height: 100px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th>Nhân viên y tế (lần khám)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of medics; index as i">

                  <td class="row">
                    <div class="col-12 row">
                      <b class="col-9">{{item.name}}</b>
                    </div>

                    <input class="col-12 form-control" type="text" name="selectedMedicsNote{{i}}" [(ngModel)]="selectedMedics[i].note" placeholder="Ghi chú">
                    <div class="col-12 row ">
                      <div class="col-9">
                        <p>{{item.cost}} VNĐ/{{item.unit}}</p>
                      </div>


                      <div class="col-1">
                        <button class="nopadding form-control" (click)="selectedMedics[i].count == 0 ? 0 : selectedMedics[i].count = selectedMedics[i].count - 1">-</button>
                      </div>
                      <div class="col-1">
                        <!--<input class="nopadding form-control" name="selectedMedicsCount{{i}}" type="text" disabled [ngModel]="selectedMedics[i].count">-->
                        <b>{{selectedMedics[i].count}}</b>
                      </div>
                      <div class="col-1">
                        <button class="nopadding form-control" (click)="selectedMedics[i].count= selectedMedics[i].count + 1">+</button>
                      </div>

                    </div>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
          <span class="select-arrow"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="form-label">Ghi chú</b>
          <textarea style="height: 178px;" name="note" class="form-control" rows="3" [(ngModel)]="currentBooking.note"></textarea>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <b class="form-label">Giá tiền tạm tính (VNĐ)</b>
          <input class="form-control" name="cost" type="number" disabled [(ngModel)]="currentBooking.cost">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div _ngcontent-jbl-c52="" class="flex-center mt-6">
          <button [disabled]="loading" (click)="SubmitBooking()" _ngcontent-jbl-c52="" class="px-3 py-2 rounded font-semibold border border-green bg-green text-white">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{displayButtonTitle}}
          </button>
        </div>
      </div>
    </div>




  </form>
</div>


<!-- Modal Vehicle -->
<div class="modal" [ngStyle]="{'display':displayPopupValue}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title" id="exampleModalLabel">Hình ảnh {{displayPopupTile}}</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClosePopup()">


          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let imageId of displayValue">
              <img class="d-block w-100" src="{{GetImageUrl(imageId)}}" alt="{{imageId}}">
            </div>
          </div>
        </div>-->
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClosePopup()">Đóng</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
