


<div class="booking-form">
  <form>
    <br />

    <div class="row">
      <div class="col-sm-12">
        <b>Điểm đón (*)</b>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Tỉnh/ thành phố</span>
          <select class="form-control" (change)="onChange('from')" [(ngModel)]="selectedCityFrom" name="selectedCityFrom">
            <option *ngFor="let item of diaGioiHanhChinhVN" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Quận/ huyện</span>
          <select class="form-control" [(ngModel)]="selectedDistrictFrom" name="selectedDistrictFrom">
            <option *ngFor="let item of selectedCityFrom?.Districts" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Xã phường</span>
          <select class="form-control" [(ngModel)]="selectedWardFrom" name="selectedWardFrom">
            <option *ngFor="let item of selectedDistrictFrom?.Wards" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-sm-12">
        <b>Điểm đến (*)</b>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Tỉnh/ thành phố</span>
          <select class="form-control" (change)="onChange('to')" [(ngModel)]="selectedCityTo" name="selectedCityTo">
            <option *ngFor="let item of diaGioiHanhChinhVN" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Quận/ huyện</span>
          <select class="form-control" [(ngModel)]="selectedDistrictTo" name="selectedDistrictTo">
            <option *ngFor="let item of selectedCityTo?.Districts" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <span class="form-label">Xã phường</span>
          <select class="form-control" [(ngModel)]="selectedWardTo" name="selectedWardTo">
            <option *ngFor="let item of selectedDistrictTo?.Wards" [ngValue]="item">
              {{item.Name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <br />


    <div class="row">

      <div class="col-sm-4">
        <div class="form-group">
          <b class="form-label">Ngày đặt xe (*)</b>
          <input class="form-control" min="2024-01-07" name="getYesterdayDate()" type="date" required [(ngModel)]="currentBooking.startTime">
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <!--<span class="form-label">Xe</span>-->
          <div class="card-body table-responsive p-0" style="min-height: 100px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th colspan="4">Lựa chọn phương tiện (*)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of vehicles">
                  <td>
                    Loại xe: {{item.name}}
                  </td>
                  <td>Đời xe: {{item.year}}</td>
                  <td>Đơn giá: {{item.cost}} VNĐ</td>
                  <td>
                    <p class="p_link" (click)="onOpenPopup('vehicle', item)">Chi tiết</p>
                  </td>
                  <td>
                    <input name="options" ng-control="options" type="radio" [value]="item.id" [(ngModel)]="currentBooking.carId"><br />
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <span class="select-arrow"></span>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <!--<span class="form-label">Trang thiết bị</span>-->
          <div class="card-body table-responsive p-0" style="min-height: 100px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th colspan="3">Trang thiết bị (theo xe)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of equipments">
                  <td>{{item.name}}</td>
                  <!--<td></td>-->
                  <td>{{item.cost}} VNĐ</td>
                  <td>
                    <p class="p_link" (click)="onOpenPopup('equipment', item)">Chi tiết</p>
                  </td>
                  <td>
                    <input type="checkbox" (change)="ClickItemAction($event, 'equipmentIds', item.id)">
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <span class="select-arrow"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <!--<span class="form-label">Trang thiết bị</span>-->
          <div class="card-body table-responsive p-0" style="min-height: 100px;">
            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th colspan="3">Nhân viên y tế (Theo xe)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of medics">
                  <td>{{item.name}}</td>
                  <!--<td>{{item.unit}}</td>-->
                  <td>{{item.cost}} VNĐ</td>
                  <td>
                    <input type="checkbox" (change)="ClickItemAction($event, 'medicIds', item.id)">
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <span class="select-arrow"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="form-label">Ghi chú</b>
          <textarea style="height: 178px;" name="note" class="form-control" rows="3" [(ngModel)]="currentBooking.note"></textarea>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <b class="form-label">Giá tiền tạm tính (VNĐ)</b>
          <input class="form-control" name="cost" type="number" disabled [(ngModel)]="currentBooking.cost">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div _ngcontent-jbl-c52="" class="flex-center mt-6">
          <button [disabled]="loading" (click)="SubmitBooking()" _ngcontent-jbl-c52="" class="px-3 py-2 rounded font-semibold border border-green bg-green text-white">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{displayButtonTitle}}
          </button>
        </div>
      </div>
    </div>




  </form>
</div>


<!-- Modal Vehicle -->
<div class="modal" [ngStyle]="{'display':displayPopupValue}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title" id="exampleModalLabel">Hình ảnh {{displayPopupTile}}</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClosePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClosePopup()">Đóng</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
