<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0">Đăng ký trở thành tài xế</h3>
  </div>
  <div class="card-body pt-0">
    <div class="col-md-12">
      <form [formGroup]="formGroup">
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">1.</p>
            <p class="text">Giấy tờ chủ sở hữu xe</p>
          </label>
          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Họ tên trên đăng ký xe<span class="text-danger">*</span></label>
            <input type="text" name="name" class="form-control" placeholder="Họ tên trên đăng ký xe" formControlName="name">
            <div *ngIf="formGroup.get('name').invalid && (formGroup.get('name').dirty || formGroup.get('name').touched)">
              <div *ngIf="formGroup.get('name').hasError('required')" class="error-message">Họ tên bắt buộc</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Địa chỉ<span class="text-danger">*</span></label>
            <input type="text" name="address" class="form-control" placeholder="Địa chỉ" formControlName="address">
            <div *ngIf="formGroup.get('address').invalid && (formGroup.get('address').dirty || formGroup.get('address').touched)">
              <div *ngIf="formGroup.get('address').hasError('required')" class="error-message">Địa chỉ bắt buộc</div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Số điện thoại chủ sở hữu xe<span class="text-danger">*</span></label>
            <input type="text" name="phoneNumber" class="form-control" placeholder="Số điện thoại chủ sở hữu xe" formControlName="phoneNumber">
            <div *ngIf="formGroup.get('phoneNumber').invalid && (formGroup.get('phoneNumber').dirty || formGroup.get('phoneNumber').touched)">
              <div *ngIf="formGroup.get('phoneNumber').hasError('required')" class="error-message">Số điện thoại bắt buộc</div>
              <div *ngIf="formGroup.get('phoneNumber').errors?.pattern" class="error-message">Số điện thoại không đúng định dạng</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Giới tính</label>
            <select class="form-select" formControlName="sex" aria-label="Default select example">
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select>
          </div>
          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Đời xe<span class="text-danger">*</span></label>
            <input type="number" name="class" class="form-control" placeholder="Đời xe" formControlName="class">
            <div *ngIf="formGroup.get('class').invalid && (formGroup.get('class').dirty || formGroup.get('class').touched)">
              <div *ngIf="formGroup.get('class').hasError('class')" class="error-message">Đời bắt buộc</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Giá tiền/km<span class="text-danger">*</span></label>
            <input type="number" name="cost" class="form-control" placeholder="Giá tiền" formControlName="cost">
            <div *ngIf="formGroup.get('cost').invalid && (formGroup.get('cost').dirty || formGroup.get('cost').touched)">
              <div *ngIf="formGroup.get('cost').hasError('cost')" class="error-message">Giá tiền bắt buộc</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mb-3">
            <label class="mb-2">Hạn giấy phép chạy xe dịch vụ<span class="text-danger">*</span></label>
            <input type="date" name="plate" class="form-control" placeholder="Hạn giấy phép chạy xe dịch vụ" formControlName="contractTerm">
            <div *ngIf="formGroup.get('contractTerm').invalid && (formGroup.get('contractTerm').dirty || formGroup.get('contractTerm').touched)">
              <div *ngIf="formGroup.get('contractTerm').hasError('contractTerm')" class="error-message">Hạn giấy phép bắt buộc</div>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">2.</p>
            <p class="text">Giấy đăng ký xe</p>
          </label>
          <div class="col-lg-12 col-md-12 mb-3">
            <label class="mb-2">Biển số xe<span class="text-danger">*</span></label>
            <input type="text" name="plate" class="form-control" placeholder="Biển số xe" formControlName="plate">
            <div *ngIf="formGroup.get('plate').invalid && (formGroup.get('plate').dirty || formGroup.get('plate').touched)">
              <div *ngIf="formGroup.get('plate').hasError('plate')" class="error-message">Biển số xe bắt buộc</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt trước(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile" [src]="selectedFileUrl" alt="Selected Image" class="custom-image">
              <input id="fileInput" type="file" (change)="onFileSelected($event)" style="display: none;">
              <label for="fileInput" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError" class="error-message">{{ uploadError }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt sau(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile1" [src]="selectedFileUrl1" alt="Selected Image" class="custom-image">
              <input id="fileInput1" type="file" (change)="onFileSelected1($event)" style="display: none;">
              <label for="fileInput1" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError1" class="error-message">{{ uploadError1 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">3.</p>
            <p class="text">Bằng lái xe</p>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt trước(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile2" [src]="selectedFileUrl2" alt="Selected Image" class="custom-image">
              <input id="fileInput2" type="file" (change)="onFileSelected2($event)" style="display: none;">
              <label for="fileInput2" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError2" class="error-message">{{ uploadError2 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt sau(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile3" [src]="selectedFileUrl3" alt="Selected Image" class="custom-image">
              <input id="fileInput3" type="file" (change)="onFileSelected3($event)" style="display: none;">
              <label for="fileInput3" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError3" class="error-message">{{ uploadError3 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">4.</p>
            <p class="text">Bảo hiểm xe</p>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt trước(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile4" [src]="selectedFileUrl4" alt="Selected Image" class="custom-image">
              <input id="fileInput4" type="file" (change)="onFileSelected4($event)" style="display: none;">
              <label for="fileInput4" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError4" class="error-message">{{ uploadError4 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt sau(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile5" [src]="selectedFileUrl5" alt="Selected Image" class="custom-image">
              <input id="fileInput5" type="file" (change)="onFileSelected5($event)" style="display: none;">
              <label for="fileInput5" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError5" class="error-message">{{ uploadError5 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">5.</p>
            <p class="text">Đăng kiểm xe</p>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt trước(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile6" [src]="selectedFileUrl6" alt="Selected Image" class="custom-image">
              <input id="fileInput6" type="file" (change)="onFileSelected6($event)" style="display: none;">
              <label for="fileInput6" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError6" class="error-message">{{ uploadError6 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">6.</p>
            <p class="text">Ảnh CCCD/CMT</p>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt trước(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile7" [src]="selectedFileUrl7" alt="Selected Image" class="custom-image">
              <input id="fileInput7" type="file" (change)="onFileSelected7($event)" style="display: none;">
              <label for="fileInput7" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError7" class="error-message">{{ uploadError7 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Mặt sau(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile8" [src]="selectedFileUrl8" alt="Selected Image" class="custom-image">
              <input id="fileInput8" type="file" (change)="onFileSelected8($event)" style="display: none;">
              <label for="fileInput8" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError8" class="error-message">{{ uploadError8 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Ảnh chân dung(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile9" [src]="selectedFileUrl9" alt="Selected Image" class="custom-image">
              <input id="fileInput9" type="file" (change)="onFileSelected9($event)" style="display: none;">
              <label for="fileInput9" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError9" class="error-message">{{ uploadError9 }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="mb-2 circle">
            <p class="circle-text" style="color: white">7.</p>
            <p class="text">Ảnh xe</p>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Ảnh trước xe(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile10" [src]="selectedFileUrl10" alt="Selected Image" class="custom-image">
              <input id="fileInput10" type="file" (change)="onFileSelected10($event)" style="display: none;">
              <label for="fileInput10" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError10" class="error-message">{{ uploadError10}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Ảnh sau xe(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile11" [src]="selectedFileUrl11" alt="Selected Image" class="custom-image">
              <input id="fileInput11" type="file" (change)="onFileSelected11($event)" style="display: none;">
              <label for="fileInput11" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError11" class="error-message">{{ uploadError11}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Ảnh nội thất xe(Bắt buộc)</div>
            <div class="centered-content">
              <img *ngIf="selectedFile12" [src]="selectedFileUrl12" alt="Selected Image" class="custom-image">
              <input id="fileInput12" type="file" (change)="onFileSelected12($event)" style="display: none;">
              <label for="fileInput12" class="mt-3 custom-file-upload">Tải lên</label>
              <p *ngIf="uploadError12" class="error-message">{{ uploadError12}}</p>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <div class="centered-content">
            <button type="button" class="btn btn-primary btn-sm rounded-4" style="background-color: #DFA31E;width: 200px;" [disabled]="formGroup.invalid" (click)="upload()">Tải lên</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

